@font-face {
  font-family: "iconfont"; /* Project id 2792719 */
  src: url("iconfont.woff2?t=1631677343704") format("woff2"),
    url("iconfont.woff?t=1631677343704") format("woff"),
    url("iconfont.ttf?t=1631677343704") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e600";
}

.icon-user:before {
  content: "\e602";
}

.icon-toggle-left:before {
  content: "\e680";
}

.icon-toggle-right:before {
  content: "\e681";
}

.icon-denglu:before {
  content: "\e695";
}

.icon-aislogo:before {
  content: "\e648";
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-logo-javascript:before {
  content: "\e799";
}
